
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=8b4d11c349cc010f2db778ac3de30d04
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress