a,
.details .description a,
.widget a:hover,
.widget a:focus,
.details .description a,
.entry-meta span a:hover,
.entry-meta span a:focus,
.entry-header h2 a:hover,
.entry-header h2 a:focus,
.widget .product-categories .children a:hover,
.widget .product-categories .children a:focus,
.widget .product-categories .children .current-cat a,
.current-cat.cat-parent a,.current-cat-parent a,
.widget ul.product_list_widget .product-title,
.widget_shopping_cart_content .wc-forward,
.tab-content h4,
.tab-content h2 a:hover,
.tab-content h2 a:focus,
.tab-content h3 a:hover,
.tab-content h3 a:focus,
.home-footer-sidebar .widget > div h4,
.byt_address_widget em,
.tab-content .room-types .meta h3	{color:#9F3535;}

ul > li:before,
.ico:before {color:#BB3E3E;}

.social li a:hover,
.social li a:focus,
.contact:before,
.header .ribbon,
.header #lang_sel li,
.header #lang_sel_click li,
.location_item .ribbon:focus,
.location_item .ribbon:hover,
.view-type .active,
.inner-nav li:hover,
.inner-nav li.active,
.inner-nav li.active:hover,
.inner-nav li.current-menu-item,
.inner-nav li.current-menu-item:hover,
.chart dd span,
.infoBox,
.lb-wrap,
.ui-slider-horizontal .ui-slider-handle,
.pager .current,
.pager a:hover     		{background:#BB3E3E;}

.header .ribbon:before,
.descending:hover:before,
.descending:focus:before,
.infoBox:after 		{border-color:#BB3E3E transparent transparent transparent;}

.header .ribbon:after 				{border-color: transparent #BB3E3E transparent transparent;}

.ascending:hover:before,
.ascending:focus:before			{border-color: transparent transparent #BB3E3E transparent;}

.inner-nav li.active a:after,
.inner-nav li.current-menu-item a:after		{border-color: transparent transparent transparent #BB3E3E;}

.ball,
.ball1 {border: 10px solid #BB3E3E;}

.gradient-button,.wpcf7-submit,.form-submit #submit,
button, input[type="button"], input[type="reset"], input[type="submit"],.scroll-to-top,.testimonials,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.ui-datepicker .ui-state-hover, 							
.ui-datepicker .dp-highlight a,						
.ui-datepicker .dp-highlight span
{
	background: #BB3E3E;
	background: -moz-linear-gradient(top, #BB3E3E 0%, #9F3535 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BB3E3E), color-stop(100%,#9F3535));
	background: -webkit-linear-gradient(top, #BB3E3E 0%,#9F3535 100%);
	background: -o-linear-gradient(top, #BB3E3E 0%,#9F3535 100%);
	background: -ms-linear-gradient(top, #BB3E3E 0%,#9F3535 100%);
	background: linear-gradient(to bottom, #BB3E3E 0%,#9F3535 100%);
}

.gradient-button:hover,.wpcf7-submit:hover,.form-submit #submit:hover,
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover,.scroll-to-top:hover,.scroll-to-top:focus,
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,
.woocommerce #respond input#submit:focus, .woocommerce a.button:focus, .woocommerce button.button:focus, .woocommerce input.button:focus
 
{
	background: #9F3535;
	background: -moz-linear-gradient(top, #9F3535 0%, #BB3E3E 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9F3535), color-stop(100%,#BB3E3E));
	background: -webkit-linear-gradient(top, #9F3535 0%,#BB3E3E 100%);
	background: -o-linear-gradient(top, #9F3535 0%,#BB3E3E 100%);
	background: -ms-linear-gradient(top, #9F3535 0%,#BB3E3E 100%);
	background: linear-gradient(to bottom, #9F3535 0%,#BB3E3E 100%);
}

.scroll-to-top:before 			{border-color: transparent transparent #BB3E3E transparent;}
.scroll-to-top:hover:before	{border-color: transparent transparent #9F3535 transparent;}

.image-overlay:before {background:rgba(187, 62, 62, 0.9);}

body {background-image:url(../images/backgrounds/tileable_wood_texture.png);}

